{% extends 'base.html.twig' %}

{% block title %}Mon Espace{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/account.css') }}">
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1 class="text-center">Mon Espace</h1>

        <div class="section-content">
            <div class="section-header">Informations personnelles</div>
            <form>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="name" class="form-label">Nom :</label>
                        <input type="text" class="form-control" id="name" value={{utilisateur.nom}} readonly>
                    </div>
                    <div class="col-md-6">
                        <label for="first_name" class="form-label">Prénom :</label>
                        <input type="text" class="form-control" id="first_name" value={{utilisateur.prenom}} readonly>
                    </div>
                    <div class="col-md-6">
                        <label for="first_name" class="form-label">Date inscription :</label>
                        <input type="text" class="form-control" id="registration_date" value="{{ utilisateur.dateInscription|date('d/m/Y') }}" readonly>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
