body {
    background-color: #e4a620; /* Orange */
}

/* Centrer le carrousel */
.carousel {
    margin: 0 auto;
    max-width: 80%;
    width: 100%;
}

/* Correction du centrage du carrousel */
#featuredCarousel {
    position: relative;
    overflow: hidden;
}

.carousel-inner {
    width: 100%;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-card {
background-color: white;
border-radius: 10px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
overflow: hidden;
text-align: center;
padding: 10px;
width: 250px;
height: 250px;
margin: 10px auto;
display: flex;
flex-direction: column;
justify-content: space-between; /* Espaces égaux entre l'image et le texte */
align-items: center;
}

.product-card img {
width: auto;
height: 19vh;
object-fit: cover;
border-radius: 8px;
margin-bottom: 10px; /* Ajoute un espacement entre l'image et le texte */
}

.product-card h3 {
margin-top: 10px;
font-size: 1.2em;
color: #333;
overflow: hidden;
text-overflow: ellipsis; /* Si le texte est trop long, il sera coupé avec des "..." */
white-space: nowrap; /* Empêche le texte de passer à la ligne suivante */
display: block;
width: 100%; /* Garantir que le texte s'ajuste à la largeur du container */
}

/* Section des produits en grille 3x3 */
.dashboard-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
    justify-items: center;
}

@media (max-width: 768px) {
    .dashboard-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .dashboard-container {
        grid-template-columns: 1fr;
    }
}