body {
    background-color: #f3c773 !important;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn-success {
    border-radius: 5px;
    border: none;
}

.btn-success:hover {
    background-color: #2e7d32;
}

.header {
    background-color: #e4a620;
    padding: 10px 0;
    text-align: center;
}

.header-logo {
    max-width: 120px;
    margin: 0 auto;
    display: block;
}

.navbar {
    background-color: #2e7d32; 
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}

.navbar a {
    text-decoration: none;
    padding: 0 20px;
    font-weight: bold;
}

.categoryName {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 0 20px;
    font-weight: bold;
}

.categoryName:hover {
    color: #e4a620; 
}

.search-container {
    background-color: #f3c773;
    padding: 10px 0;
    text-align: center;
}

.search-bar {
    width: 60%;
    padding: 8px;
    border-radius: 15px;
    border: none;
}

.auth-btn {
    position: absolute;
    left: 16px;
    background-color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    cursor: pointer;
}


.btn-secondary {
    background-color: #2e7d32;
    border: none;
}

.btn-secondary:hover {
    background-color:#2e7d32; 
}

.btn-secondary:active {
    background-color:#2e7d32; 
}

.btn-secondary:focus {
    background-color:#2e7d32; 
}

.dropdown-menu {
    background-color: #fff;
  }
  
  .dropdown-item {
    color: #333; 
  }
  
  .dropdown-item:hover {
    background-color: #f8f9fa;
    color: #000; 
  }

  .user-roles {
    display: flex;
    opacity: 50%;
  }